@import "src/styles/styles.scss";

.style-navbar {
  height: 10px;
}

ul {
  min-height: 30px;
}

.nav-link {
  cursor: pointer;
  color: var(--primary-light-color);
  padding: 0px;
}

.navbar .nav-link:hover,
.nav-link.active {
  color: var(--nav-link-hover) !important;
  border-bottom: 2px solid #ed1c24;
}


.navbar-brand img {
  width: 120px;
}