<div class="style-navbar detail-dark"></div>

<nav class="navbar navbar-expand-lg water-mask-light shadow">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/imgs/logo_topo.png" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto gap-4">
        <li class="nav-item" *ngFor="let menu of menus">
          <a
            class="nav-link fw-semibold"
            [class.active]="menuActive === menu.id"
            aria-current="page"
            (click)="changeMenuActive(menu)"
            >{{ menu.name | uppercase }}</a
          >
        </li>

        <div ngbDropdown class="d-inline-block">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 m-auto gap-4">
            <li class="nav-item">
              <a id="dropdownBasic1" class="nav-link fw-semibold" aria-current="page" ngbDropdownToggle>CONSULTAS</a>
            </li>
          </ul>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              *ngFor="let menu of menusSSW"
              (click)="changeMenuSSWActive(menu)"
            >
              {{ menu.menuPortalName }}
            </button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
