<div class="row mt-5">
  <div class="col-6">
    <form #form="ngForm" [formGroup]="contactForm" (ngSubmit)="sendEmail()">
      <!-- Campo 'Nome completo' -->
      <div class="input-group p-0 mb-3 col-sm-12 col-md-12">
        <div class="form-floating">
          <input
            id="floatingInputName"
            type="text"
            name="user_name"
            formControlName="user_name"
            class="form-control"
            placeholder="Nome completo"
            aria-describedby="addon-wrapping"
            autocomplete="off"
            required
            [ngClass]="{'is-invalid': contactForm.get('user_name').invalid && contactForm.get('user_name').touched}"
          />
          <label class="bg-transparent" for="floatingInputName"> Nome completo </label>
          <div
            *ngIf="contactForm.get('user_name').invalid && contactForm.get('user_name').touched"
            class="invalid-feedback"
          >
            O campo Nome completo é obrigatório.
          </div>
        </div>
      </div>

      <!-- Campo 'Email' -->
      <div class="input-group p-0 mb-3 col-sm-12 col-md-12">
        <div class="form-floating">
          <input
            id="floatingInputEmail"
            type="email"
            name="user_email"
            formControlName="user_email"
            class="form-control"
            placeholder="Email"
            aria-describedby="addon-wrapping"
            autocomplete="off"
            required
            [ngClass]="{'is-invalid': contactForm.get('user_email').invalid && contactForm.get('user_email').touched}"
          />
          <label class="bg-transparent" for="floatingInputEmail"> Email </label>
          <div
            *ngIf="contactForm.get('user_email').invalid && contactForm.get('user_email').touched"
            class="invalid-feedback"
          >
            O campo Email é obrigatório.
          </div>
        </div>
      </div>

      <!-- Campo 'Mensagem' -->
      <div class="input-group p-0 mb-3 col-sm-12 col-md-12">
        <div class="form-floating">
          <textarea
            id="floatingInputMessage"
            class="form-control"
            name="message"
            formControlName="message"
            placeholder="Mensagem"
            aria-describedby="addon-wrapping"
            autocomplete="off"
            required
            style="height: 150px"
            [ngClass]="{'is-invalid': contactForm.get('message').invalid && contactForm.get('message').touched}"
          ></textarea>
          <label class="bg-transparent" for="floatingInputMessage"> Mensagem </label>
          <div
            *ngIf="contactForm.get('message').invalid && contactForm.get('message').touched"
            class="invalid-feedback"
          >
            O campo Mensagem é obrigatório.
          </div>
        </div>
      </div>

      <!-- Mensagens de feedback -->
      <div class="d-grid mt-2 gap-2 d-md-flex justify-content-md-between">
        <div class="feedback-messages">
          <div *ngIf="isShowingAlert && !isErrored" class="feedback-email text-success" role="alert">
            Sua mensagem foi enviada com sucesso!
          </div>
          <div *ngIf="isShowingAlert && isErrored" class="feedback-email text-danger" role="alert">
            Falha ao enviar sua mensagem!
          </div>
        </div>
        <!-- Botão de enviar -->
        <button type="submit" class="btn btn-primary-default end-0">Enviar</button>
      </div>
    </form>
  </div>

  <!-- FALE NO WPP -->
  <div class="col-6 d-flex align-items-center justify-content-center">
    <div>
      <span class="icon-attendant d-flex m-auto mb-3"></span>
      <h5 class="text-center icon-primary">OU FALE PELO NOSSO WHATSAPP</h5>
      <p class="text-center text-light">Clique no botão abaixo para falar com um de nossos atendentes</p>

      <div #contactWhatsapp class="col pt-3">
        <div class="mb-3">
          <a
            type="button"
            class="button-whatsapp m-auto d-flex justify-content-center align-items-center gap-2"
            target="_blank"
            [href]="getContactWhatsapp()"
          >
            <span class="fs-4 ps-3">ENTRAR EM CONTATO</span>
            <span class="icon-wpp"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MAPS -->
<div class="col-12 mt-5 water-mask-dark bg-primary-dark custom-container">
  <div class="map-responsive container p-3 pb-0">
    <h5 class="icon-primary mb-3">NOS ENCONTRE</h5>
    <ng-container *ngIf="contactPageData?.linkMaps">
      <iframe
        [src]="sanitizeUrl(contactPageData.linkMaps)"
        title="map"
        width="600"
        height="450"
        style="border: 0; width: 100%"
        allowfullscreen="true"
        loading="lazy"
        sandbox="allow-scripts allow-same-origin"
      ></iframe>
    </ng-container>
  </div>
</div>
