$primary: #0b4076;
$secondary: #ef4b43;
$tertiary: #ffc700;
$color: white;

:root {
  // COLORS
  --primary-color: #2d4b7b;
  --primary-heavy-color: #0b2144;
  --primary-dark-color: #132c55;
  --primary-light-color: #6f93cd;
  --primary-clear-color: #d1e2ff;

  --secondary-color: #ef4b43;
  --secondary-dark-color: #850600;
  --secondary-light-color: #ff706b;
  --secondary-clear-color: #ffa598;

  --tertiary-color: #ffc700;

  // BACKGROUND
  --background-primary: #f5f9ff;
  --background-secondary: #e2e2e2;
  --background-tertiary: #ffc700;

  --bs-body-bg: #f5f9ff;

  // TEXTS
  --text-primary: #6f93cd;
  --text-dark: #2d4b7b;
  --text-light: #a4a4a4;
  --text-super-light: #d1e2ff;
  --text-yellow: #f5ff7d;
  --text-secondary: #ef4b43;
  --text-tertiary: #ffc107;

  // INPUTS
  --input-color-dark: #6f93cd;
  --input-color-primary: #e8f0fe;
  --input-color-light: #f8f9fa;

  // BUTTON
  --button-primary-text-color: #d1e2ff;
  --button-secondary-text-color: #d1e2ff;
  --button-action-text-color: #f5ff7d;
  --button-succes-text-color: #198754;
  --bs-btn-color: #d1e2ff;
  --bs-btn-hover-color: #d1e2ff;

  // DETAIL
  --detail-dark: linear-gradient(90deg, #ef4b43 0%, #850600 50%, #ef4b43 100%);
  --detail-light: linear-gradient(90deg, #ffa598 0%, #ff706b 50%, #ffa598 100%);
  --detail-dark-vertical: linear-gradient(0deg, #ef4b43 0%, #850600 50%, #ef4b43 100%);
  --detail-light-vertical: linear-gradient(0deg, #ffa598 0%, #ff706b 50%, #ffa598 100%);
}

// COLORS
.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.tertiary-color {
  color: var(--tertiary-color);
}

// BACKGROUND
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-primary-heavy {
  background-color: var(--primary-heavy-color) !important;
}

.bg-primary-dark {
  background-color: var(--primary-dark-color) !important;
}

.bg-primary-light {
  background-color: var(--primary-light-color) !important;
}

.bg-primary-clear {
  background-color: var(--primary-clear-color) !important;
}

.bg-secondary {
  background-color: var(--secondary-color) !important;
}

.bg-secondary-dark {
  background-color: var(--secondary-dark-color) !important;
}

.bg-secondary-light {
  background-color: var(--secondary-light-color) !important;
}

.bg-secondary-clear {
  background-color: var(--secondary-clear-color) !important;
}

.bg-tertiary {
  background-color: var(--tertiary-color) !important;
}

// TEXTS
.text-primary {
  color: var(--text-primary) !important;
}

.text-dark {
  color: var(--text-dark);
}

.text-action {
  color: var(--text-action);
}

// BUTTON
.btn-primary {
  border: none;
  color: var(--button-primary-text-color);
  background: var(--primary-color);
}

.btn-secondary {
  color: var(--button-secondary-text-color);
  background: var(--secondary-color);
}

.btn-tertiary {
  color: var(--button-action-text-color);
  background: var(--tertiary-color);
}

.btn-primary-default {
  border: none;
  color: var(--button-primary-text-color);
  background: linear-gradient(90deg, #2d4b7b 0%, #ef4b43 100%);
}

.btn-primary-default:hover {
  background: linear-gradient(90deg, #4469a5 0%, #e25a53 100%);
}

.btn-outline-primary {
  border: none;
  color: var(--text-primary);
}

.btn-outline-primary:hover {
  color: var(--button-primary-text-color);
  background: var(--primary-color);
}

.btn-outline-action {
  border: none;
  color: var(--text-tertiary);
}

.btn-outline-action:hover {
  color: white !important;
  background: var(--tertiary-color);
}

.btn-table-action {
  border: 1px solid var(--primary-light-color) !important;
  color: var(--primary-color) !important;
  background: transparent;
}

// TEXTS
.text-primary {
  color: var(--text-primary) !important;
}

.text-dark {
  color: var(--text-dark) !important;
}

.text-light {
  color: var(--text-light) !important;
}

.text-super-light {
  color: var(--text-super-light) !important;
}

.text-yellow {
  color: var(--text-yellow) !important;
}

.text-secondary {
  color: var(--text-secondary) !important;
}

.table-light {
  --bs-table-color: #6f93cd;
  --bs-table-bg: var(--primary-clear-color);
  --bs-table-striped-color: #6f93cd;
  --bs-table-striped-bg: #e8f0fe;
}

// ICON
.icon-primary {
  color: var(--primary-light-color);
}

.icon-secondary {
  color: var(--secondary-color);
}

// DETAILS
.detail-dark {
  background: linear-gradient(90deg, #ef4b43 0%, #850600 50%, #ef4b43 100%);
}

.detail-light {
  background: linear-gradient(90deg, #ffa598 0%, #ff706b 50%, #ffa598 100%);
}
