#addon-wrapping {
  display: flex;
  justify-content: center;
  min-width: 50px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-light-color);
}

// // INPUTS
.form-control,
.form-select {
  // background-color: white;
  border: none;
  background-color: var(--input-color-primary);
}

.form-floating {
  label::after {
    background-color: var(--input-color-primary) !important;
  }
}
