$primary: #ef3d36;
$secondary: #0b4076;
$tertiary: #6d6e70;

$button-primary-text-color: #ffffff;

$nav-link-hover: #636464;

$background-secondary: #f8f9fa;

@import "~bootstrap/dist/css/bootstrap.min.css";

@import "bootstrap/scss/bootstrap";

@import "custom-styles.scss";

html,
body {
  background-color: $background-secondary;
  overflow-x: hidden;
}

.btn-primary {
  color: $button-primary-text-color;
}
