@import "~bootstrap/dist/css/bootstrap.min.css";

@import "bootstrap/scss/bootstrap";

@import "colors";
@import "fonts";

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

#addon-wrapping {
  display: flex;
  justify-content: center;
  min-width: 50px;
}

.divider {
  border-top: 1px solid var(--primary-clear-color);
  margin: 10px 0;
}

.card {
  background: var(--primary-color);
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.portal-iframe {
  margin: auto;
  display: flex;
  width: 100%;
  height: 100%;
}

.skeleton {
  height: 100%;
  width: 100%;
  background: var(--background-secondary);
  background-size: 100% 100%;
  border-radius: 3px;
}

table {
  width: 100%;

  td {
    font-weight: 300;
  }
}

.btn-table-action {
  width: 40px;
  border: 1px solid var(--primary-light-color) !important;
  border-radius: 5px;
  color: var(--primary-color) !important;
  background: transparent;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: var(--primary-light-color);
}

.text-justify {
  text-align: justify;
}
