.custom-container {
  width: 100vw; /* Full viewport width */
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -3rem; // SIZE OF MARGIN BOTTOM NAVBAR
  position: relative;
  left: 50%;
  right: 50%;
}

.carousel-caption {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

::ng-deep {
  .picsum-img-wrapper {
    height: 100vh !important;
  }

  .carousel-inner {
    margin: -20px !important;
  }
}
