.custom-container {
  width: 100vw;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-top: -3rem;
  position: relative;
  left: 50%;
  right: 50%;
}

.carousel-caption {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

::ng-deep {
  .picsum-img-wrapper {
    height: 100vh !important;
    overflow: hidden;
  }

  .picsum-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}
