.card.align-left {
  background-color: white;
  left: -40px;
}

.card.align-right {
  background-color: white;
  right: -20px;
  z-index: 1;
}

.service-image {
  min-width: 150px !important;
  height: 100%;
  background-size: cover;
}

.detail-image {
  max-height: 300px;
  position: relative;
}

.detail-image::before {
  position: absolute;
  content: " ";
  left: 0;
  height: 100%;
  width: 5px;
  background: var(--detail-light-vertical);
}

.detail-image.align-right::before {
  right: 0;
  left: auto;
}

.service-title {
  color: var(--tertiary-color);
  font-size: 26px;
}

.service-text {
  color: var(--text-light);
}

.service-button {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
