<ng-container *ngFor="let data of dataDisplay; let i = index">
  <ng-container *ngIf="data.alignment === ALIGN_ENUM.LEFT; else alignmentEnd">
    <div class="d-flex justify-content-center mb-5">
      <div class="detail-image align-left col-6">
        <img class="service-image w-100" [src]="getImageUrl(data.images)" alt="" />
      </div>
      <div class="card align-left p-4 m-3 me-0 me-0 w-100">
        <div class="d-flex align-items-center">
          <fa-icon
            class="service-icon tertiary-color fa-regular me-3 fs-{{ getSizeIconAdjust(data.iconSize) }}"
            [icon]="faIcons[i] || faIconDefault"
          ></fa-icon>
          <span class="service-title fw-semibold">{{ data.title }}</span>
        </div>
        <span class="service-text text-justify mt-3" [ngStyle]="{ color: data.textColor }">{{ data.text }}</span>
        <div class="w-100 d-flex justify-content-end mt-3">
          <a href="{{ data.url }}" class="service-button btn btn-secondary border-0">{{ data.nameButton }}</a>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #alignmentEnd>
    <div class="d-flex justify-content-center">
      <div class="card align-right p-4 m-3 ms-0 me-0 w-100">
        <div class="d-flex align-items-center">
          <fa-icon
            class="service-icon tertiary-color fa-regular me-3 fs-{{ getSizeIconAdjust(data.iconSize) }}"
            [icon]="faIcons[i] || faIconDefault"
          ></fa-icon>
          <span class="service-title fw-semibold">{{ data.title }}</span>
        </div>
        <span class="service-text text-justify mt-3" [ngStyle]="{ color: data.textColor }">{{ data.text }}</span>
        <div class="w-100 d-flex justify-content-end mt-3">
          <a href="{{ data.url }}" class="service-button btn btn-secondary border-0">{{ data.nameButton }}</a>
        </div>
      </div>
      <div class="detail-image align-right col-6">
        <img class="service-image w-100" [src]="getImageUrl(data.images)" alt="" />
      </div>
    </div>
  </ng-template>
</ng-container>
